{% extends 'basesample.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
<div class="grids-w3l">
		<div class="grids-agile">
			<div class="col-md-6 agile-w3l-grids">
				<h3 class="title-w3-agileits one">SpiroTeam</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua,consectetur
					adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
				<div class="w3lsstatsaits-info">
					<div class="col-md-4 col-sm-4 col-xs-4 w3lsstatsaits-grid w3lsstatsaits-grid-1">
						<div class="w3lsstatsaitsstats counter" data-slno='1' data-min='0' data-max='9000' data-delay='.5' data-increment=4>7000</div>
						<p>Doctors</p>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-4 w3lsstatsaits-grid w3lsstatsaits-grid-2">
						<div class="w3lsstatsaitsstats counter" data-slno='1' data-min='0' data-max='17000' data-delay='8' data-increment="1">16000</div>
						<p>Patients</p>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-4 w3lsstatsaits-grid w3lsstatsaits-grid-3">
						<div class="w3lsstatsaitsstats counter" data-slno='1' data-min='0' data-max='12000' data-delay='.5' data-increment="11">12000</div>
						<p>Cases</p>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
			<div class="col-md-6 agile-w3l-img-grids-w3ls" style="margin-top:5%">
				<div class="col-md-6 agile-w3l3-grids w3_agileits_services_bottom_l_grid w3l-agileits">
					<div class="agile_services_bottom_l_grid1">
						<img src="{% static 'images/7.jpg'%}" alt=" " class="img-responsive" />
						<div class="w3_service_bottom_grid_pos mid_gd">
							<h3>TechnoPrompt</h3>
						</div>
					</div>
				</div>
				<div class="col-md-6 agile-w3l3-grids w3_agileits_services_bottom_l_grid w3l-agileits">
					<div class="agile_services_bottom_l_grid1">
						<img src="{% static 'images/8.jpg'%}" alt=" " class="img-responsive" />
						<div class="w3_service_bottom_grid_pos mid_gd">
							<h3>TechnoPrompt</h3>
						</div>
					</div>
				</div>
				<div class="col-md-6 agile-w3l3-grids w3_agileits_services_bottom_l_grid w3l-agileits">
					<div class="agile_services_bottom_l_grid1">
						<img src="{% static 'images/9.jpg'%}" alt=" " class="img-responsive" />
						<div class="w3_service_bottom_grid_pos mid_gd">
							<h3>TechnoPrompt</h3>
						</div>
					</div>
				</div>
				<div class="col-md-6 agile-w3l3-grids w3_agileits_services_bottom_l_grid w3l-agileits">
					<div class="agile_services_bottom_l_grid1">
						<img src="{% static 'images/10.jpg'%}" alt=" " class="img-responsive" />
						<div class="w3_service_bottom_grid_pos mid_gd">
							<h3>TechnoPrompt</h3>
						</div>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="clearfix"></div>
		</div>

	</div>

{%endblock%}