<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
{%load static%}
<!DOCTYPE html>
<html lang="zxx">

<head>
	<title>Spirotech</title>
	<!-- custom-theme -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Farm Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- //custom-theme -->
	<link href="{% static 'css/bootstrap.css'%}" rel="stylesheet" type="text/css" media="all" />
	<link href="{% static 'css/style.css'%}" rel="stylesheet" type="text/css" media="all" />
	<!-- //custom-theme -->
	<!-- font-awesome-icons -->
	<link href="{% static 'css/font-awesome.css" rel="stylesheet">
	<!-- //font-awesome-icons -->
	<link href="//fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Montserrat:200,200i,300,400,400i,500,500i,600,600i,700,700i,800" rel="stylesheet">
</head>

<body>
	<!-- banner -->
	<div class="banner_top" id="home">
		<div data-vide-bg="{% static 'images/bgvideo2'%}">
			<div class="center-container">
				<!-- top_header_agile_info_w3ls -->
				<div class="top_header_agile_info_w3ls">
					<nav class="navbar navbar-default">
						<div class="navbar-header navbar-left">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
							<h1><a class="navbar-brand" href="index.html"><span>S</span>piroTech</a></h1>
						</div>
						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
							<div class="w3l_header_left">
								<ul>

									<li><i class="fa fa-phone" aria-hidden="true"></i> +(91) 8208 640 218</li>
									<li><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="https://accounts.google.com/ServiceLogin?elo=1">mailto:spirotech@gmail.com</a></li>
								</ul>
							</div>
							<div class="clearfix"> </div>

							<div id="m_nav_container" class="m_nav wthree_bg">
								<nav class="menu menu--sebastian">
									<ul id="m_nav_list" class="m_nav menu__list">
										<li class="m_nav_item " id="m_nav_item_1"> <a href="{% url 'home_doctor'%}" class="link link--kumya"><i class="fa fa-home" aria-hidden="true"></i><span data-letters="Home">Home</span></a></li>
										<li class="m_nav_item" id="moble_nav_item_3"> <a href="{% url 'readmore'%}" class="link link--kumya"><i class="fa fa-info-circle" aria-hidden="true"></i><span data-letters="About">About</span></a></li>


										<li class="m_nav_item" id="moble_nav_item_6"> <a href="{% url 'patientRegistration'%}" class="link link--kumya"><i class="fa fa-envelope-o" aria-hidden="true"></i><span data-letters="Register Patient">Register Patient</span></a></li>
										<li class="m_nav_item" id="moble_nav_item_6"> <a href="{% url 'view_patients'%}" class="link link--kumya"><i class="fa fa-envelope-o" aria-hidden="true"></i><span data-letters="View Patient">View Patient</span></a></li>
										<li class="m_nav_item" id="moble_nav_item_6"> <a href="contact.html" class="link link--kumya"><i class="fa fa-envelope-o" aria-hidden="true"></i><span data-letters="Contact">Contact</span></a></li>
										<li class="m_nav_item" id="moble_nav_item_3"> <a href="{% url 'signout'%}" class="link link--kumya"><i class="fa fa-info-circle" aria-hidden="true"></i><span data-letters="Logout">Logout</span></a></li>

									</ul>
								</nav>
							</div>
						</div>
					</nav>
				</div>

				<!--// top_header_agile_info_w3ls -->
				<!--/slider-->
				<div class="banner_wthree_agile_info">
					<div class="slider">
						<div class="callbacks_container">
							<ul class="rslides callbacks callbacks1" id="slider4">
								<ul class="rslides callbacks callbacks1" id="slider4">
								<li>
									<div class="agileits-banner-info">
										<h4>The real </h4>
										<h3>MECHANISM</h3>
										<p>0f Future</p>
										<div class="more">
											<a href="https://www.mdpi.com/2075-4418/10/6/417/htm" class="hvr-shutter-in-vertical"> Read More<span class="glyphicon glyphicon-arrow-right"></span></a>
										</div>
									</div>
								</li>
								<li>
									<div class="agileits-banner-info">
										<h4>System</h4>
										<h3>ASSISTING</h3>
										<p>you</p>
										<div class="more">
											<a href="https://www.mdpi.com/2075-4418/10/6/417/htm" class="hvr-shutter-in-vertical"> Read More<span class="glyphicon glyphicon-arrow-right"></span></a>
										</div>
									</div>
								</li>
								<li>
									<div class="agileits-banner-info">
										<h4>Make</h4>
										<h3>Your Job</h3>
										<p>easy</p>
										<div class="more">
											<a href="https://www.mdpi.com/2075-4418/10/6/417/htm" class="hvr-shutter-in-vertical"> Read More<span class="glyphicon glyphicon-arrow-right"></span></a>
										</div>
									</div>
								</li>
							</ul>
							    <li>
									<div class="agileits-banner-info">
										<h4>Make</h4>
										<h3>Your Job</h3>
										<p>easy</p>
										<div class="more">
											<a href="https://www.mdpi.com/2075-4418/10/6/417/htm" class="hvr-shutter-in-vertical"> Read More<span class="glyphicon glyphicon-arrow-right"></span></a>
										</div>
									</div>
								</li>
							
							</ul>
						</div>
					</div>
				</div>
				<!--//slider-->
			</div>
		</div>
	</div>
	<!-- //banner -->
	<!-- Modal1 -->
<form action="{% url 'login' %}" method="post"> {% csrf_token %}
	<div class="modal fade" id="myModal2" tabindex="-1" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>

					<div class="signin-form profile">
						<h3 class="agileinfo_sign">Sign In</h3>
						<div class="login-form">
							<form action="#" method="post">
								<input type="text" name="username" placeholder="User Name" required="">
								<input type="password" name="password" placeholder="Password" required="">
								<div class="tp">
									<input type="submit" value="Sign In">
								</div>
							</form>
						</div>
						<div class="login-social-grids">
							<ul>
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-rss"></i></a></li>
							</ul>
						</div>
						<p><a href="#" data-toggle="modal" data-target="#myModal3"> Don't have an account?</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
		</form>
	<!-- //Modal1 -->
	<!-- Modal2 -->

	<div class="modal fade" id="myModal3" tabindex="-1" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>

					<div class="signin-form profile">
						<h3 class="agileinfo_sign">Sign Up</h3>
						<div class="login-form">
							<form method="post" action="{%url 'register'%}">a{% csrf_token %}
								<input type="text" name="f_name" placeholder="Username" required="">
								<input type="text" name="l_name" placeholder="Username" required="">
								<input type="text" name="username" placeholder="Username" required="">
								<input type="email" name="email" placeholder="Email" required="">
								<input type="password" name="password" placeholder="Password" required="">
								<input type="password" name="re_password" placeholder="Confirm Password" required="">
								<input type="submit" value="Sign Up">
							</form>
						</div>
						<p><a href="#"> By clicking register, I agree to your terms</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- //Modal2 -->

	<!-- banner-bottom -->
	<div class="banner-bottom">
		<div class="container">
			<div class="col-md-7 banner_bottom_left">
				<h2 class="title-w3-agileits one">Welcome to SpiroTech!</h2>
				<p><i>The Modern Techonological Assistance </i> SpiroTech Provides an ultramodern technological assistance which helps the doctors to
				diagonose the Pneumonia infection early and faster. The system is configured with security and embedded in Deep Learning </p>
				<div class="more wthree_more1 ">
					<a href="index.html" class="hvr-shutter-in-vertical" data-toggle="modal" data-target="#myModal">Read More<span class="glyphicon glyphicon-arrow-right"></span></a>
				</div>
			</div>
			<div class="col-md-5 banner_bottom_right">
				<div class="img_agile">
					<img src="{% static 'images/barimage.jpg'%}" class="img-responsive" alt="SpiroTech" />
				</div>


			</div>

			<div class="clearfix"> </div>
			<div class="banner_bottom_agile_grids">
				<div class="wthree_banner_bottom_right_grids">
					<div class="col-md-3 banner_bottom_right_grid">
						<div class="view view-tenth">
							<div class="agile_text_box">
								<i class="fa fa-eye" aria-hidden="true"></i>
								<h3>System Run...</h3>
								<p>Touching the pulse of Breadth.</p>
							</div>
							<div class="mask">
								<img src="{% static 'images/image1.jpg'%}" class="img-responsive" alt="" />
							</div>
						</div>
					</div>
					<div class="col-md-3 banner_bottom_right_grid">
						<div class="view view-tenth">
							<div class="agile_text_box">
								<i class="fa fa-building-o" aria-hidden="true"></i>
								<h3>Service To the World</h3>
								<p>Welcom you to serve the world.</p>
							</div>
							<div class="mask">
								<img src="{% static 'images/image2.jpg'%}" class="img-responsive" alt="" />
							</div>
						</div>
					</div>

					<div class="col-md-3 banner_bottom_right_grid">
						<div class="view view-tenth">
							<div class="agile_text_box">
								<i class="fa fa-eraser" aria-hidden="true"></i>
								<h3>High quality </h3>
								<p>Provide The Best df You To The Next</p>
							</div>
							<div class="mask">
								<img src="{% static 'images/image3.jpg'%}" class="img-responsive" alt="" />
							</div>
						</div>
					</div>
					<div class="col-md-3 banner_bottom_right_grid">
						<div class="view view-tenth">
							<div class="agile_text_box">
								<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
								<h3>Waiting</h3>
								<p>Thousands Of People Asre Waiting for you</p>
							</div>
							<div class="mask">
								<img src="{% static 'images/image4.jpg'%}" class="img-responsive" alt="" />
							</div>
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- banner-bottom -->

	<!-- //testimonials -->
	<!-- footer -->
	<div class="footer">
		<div class="container">
			<div class="col-md-6 w3agile_footer_grid">
				<h3>About Us</h3>
				<p>We provide ultra-modern assistance to the medical world				</p>

			</div>
			<div class="col-md-2 w3agile_footer_grid">
				<h3>Links</h3>
				<ul>
					<li><a href="{%url 'guesthome'%}">Home</a></li>
					<li><a href="about.html">About</a></li>
					<li><a href="gallery.html">Gallery</a></li>
					<li><a href="https://accounts.google.com/ServiceLogin?elo=1">Contact</a></li>
				</ul>
			</div>
			<div class="col-md-4 w3agile_footer_grid">
				<h3>Twitter Posts</h3>
				<ul class="w3agile_footer_grid_list">
					<li>Ut aut reiciendis voluptatibus maiores alias, ut aut reiciendis.
						<span><i class="fa fa-twitter" aria-hidden="true"></i> 02 days ago</span></li>
					<li>Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus.
						<span><i class="fa fa-twitter" aria-hidden="true"></i> 03 days ago</span></li>
				</ul>
			</div>
		<!--	<div class="col-md-3 w3agile_footer_grid">
				<h3>Instagram</h3>
				<div class="w3agile_footer_grid_left">
					<a href="single.html"><img src="{% static 'images/a1.jpg'%}" alt=" " class="img-responsive" /></a>
				</div>
				<div class="w3agile_footer_grid_left">
					<a href="single.html"><img src="{% static 'images/a2.jpg'%}" alt=" " class="img-responsive" /></a>
				</div>
				<div class="w3agile_footer_grid_left">
					<a href="single.html"><img src="{% static 'images/a3.jpg'%}" alt=" " class="img-responsive" /></a>
				</div>
				<div class="w3agile_footer_grid_left">
					<a href="single.html"><img src="{% static 'images/a4.jpg'%}" alt=" " class="img-responsive" /></a>
				</div>
				<div class="w3agile_footer_grid_left">
					<a href="single.html"><img src="{% static 'images/a1.jpg'%}" alt=" " class="img-responsive" /></a>
				</div>
				<div class="w3agile_footer_grid_left">
					<a href="single.html"><img src="{% static 'images/a2.jpg'%}" alt=" " class="img-responsive" /></a>
				</div>
				<div class="w3agile_footer_grid_left">
					<a href="single.html"><img src="{% static 'images/a3.jpg'%}" alt=" " class="img-responsive" /></a>
				</div>
				<div class="w3agile_footer_grid_left">
					<a href="single.html"><img src="{% static 'images/a4.jpg'%}" alt=" " class="img-responsive" /></a>
				</div>
				<div class="w3agile_footer_grid_left">
					<a href="single.html"><img src="{% static 'images/a3.jpg'%}" alt=" " class="img-responsive" /></a>
				</div>
				<div class="clearfix"> </div>
			</div>-->
			<div class="clearfix"> </div>
		</div>
	</div>
	<div class="agileinfo_copy_right">
		<div class="container">
			<div class="agileinfo_copy_right_left">
				<p>© 2021 SpiroTech. All rights reserved | Design by: Joseph_Alex_Antony</p>
			</div>
			<div class="agileinfo_copy_right_right">
				<ul class="social">
					<li><a class="social-linkedin" href="#">
						<i class="fa fa-facebook" aria-hidden="true"></i>
						<div class="tooltip"><span>Facebook</span></div>
						</a></li>
					<li><a class="social-twitter" href="#">
						<i class="fa fa-twitter" aria-hidden="true"></i>
						<div class="tooltip"><span>Twitter</span></div>
						</a></li>
					<li><a class="social-google" href="#">
						<i class="fa fa-google" aria-hidden="true"></i>
						<div class="tooltip"><span>Google+</span></div>
						</a></li>
					<li><a class="social-facebook" href="#">
						<i class="fa fa-pinterest-p" aria-hidden="true"></i>
						<div class="tooltip"><span>Pinterest</span></div>
						</a></li>
					<li><a class="social-instagram" href="#">
						<i class="fa fa-instagram" aria-hidden="true"></i>
						<div class="tooltip"><span>Instagram</span></div>
						</a></li>
				</ul>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	<!-- //footer -->
	<!-- js -->
	<script type="text/javascript" src="{% static 'js/jquery-2.1.4.min.js'%}"></script>
	<!-- //js -->
	<script src="{% static 'js/jquery.vide.min.js'%}"></script>
	<script src="{% static 'js/responsiveslides.min.js'%}"></script>
	<script>
		// You can also use "$(window).load(function() {"
		$(function () {
			// Slideshow 4
			$("#slider4").responsiveSlides({
				auto: true,
				pager: true,
				nav: false,
				speed: 500,
				namespace: "callbacks",
				before: function () {
					$('.events').append("<li>before event fired.</li>");
				},
				after: function () {
					$('.events').append("<li>after event fired.</li>");
				}
			});

		});
	</script>

	<!-- Stats-Number-Scroller-Animation-JavaScript -->
	<script src="{% static 'js/waypoints.min.js'%}"></script>
	<script src="{% static 'js/counterup.min.js'%}"></script>
	<script>
		jQuery(document).ready(function ($) {
			$('.counter').counterUp({
				delay: 10,
				time: 1000,
			});
		});
	</script>
	<!-- //Stats-Number-Scroller-Animation-JavaScript -->

	<!-- flexSlider -->
	<link rel="stylesheet" href="{% static 'css/flexslider.css'%}" type="text/css" media="screen" property="" />
	<script defer src="{% static 'js/jquery.flexslider.js'%}"></script>
	<script type="text/javascript">
		$(window).load(function () {
			$('.flexslider').flexslider({
				animation: "slide",
				start: function (slider) {
					$('body').removeClass('loading');
				}
			});
		});
	</script>
	<!-- //flexSlider -->
	<!-- //load-more -->
	<!-- for bootstrap working -->
	<script src="{% static 'js/bootstrap.js'%}"></script>
	<!-- //for bootstrap working -->
</body>

</html>